In [59]:
import stock_data_package.stock_data as sd
import importlib

In [60]:
importlib.reload(sd)

**Function:** sd.get_data(symbol, filename)

**Symbol must be a string of a stock ticker Ex: 'TSLA'**

**Filename must be a .csv file Ex: 'stocks.csv'**

In [61]:
df = sd.get_data(['TSLA','AAPL','TWLO'], 'stock_test.csv')

In [62]:
df

,Closing Price,Daily Price Change,Percentage Change,volume,Average 3 Month Volume,52 Week Closing Price Range,Graph Link
Ticker,,,,,,,
TSLA,199.95,-0.50,(-0.25%),"110,528,448","111,839,900",152.37 - 299.29,https://finance.yahoo.com/chart/TSLA/
AAPL,182.31,-1.55,(-0.84%),"48,627,624","53,397,922",143.90 - 199.62,https://finance.yahoo.com/chart/AAPL/
TWLO,58.59,-2.56,(-4.19%),"10,952,951","3,017,703",45.02 - 78.16,https://finance.yahoo.com/chart/TWLO/

**FUNCTION:** sd.historical_data(symbol, timespan)

**Symbol must be a string format of a stock ticker Ex: 'TSLA'**

**timespan is one of 5 options: 'm1','m6','ytd','y1','y5','y10'**

In [63]:
data = sd.historical_data('AAPL', 'y10')

In [64]:
data

            Date Close/Last     Volume      Open      High        Low
0     02/16/2024    $182.31   49752470   $183.42   $184.85   $181.665
1     02/15/2024    $183.86   65434500   $183.55   $184.49    $181.35
2     02/14/2024    $184.15   54630520   $185.32   $185.53    $182.44
3     02/13/2024    $185.04   56529530   $185.77   $186.21  $183.5128
4     02/12/2024    $187.15   41781930  $188.415   $188.67    $186.79
...          ...        ...        ...       ...       ...        ...
2513  02/24/2014   $18.8411  288835564  $18.6839  $18.9257   $18.6579
2514  02/21/2014   $18.7589  278751984  $19.0283  $19.0918   $18.7357
2515  02/20/2014   $18.9697  305829318  $19.0354  $19.1786   $18.8929
2516  02/19/2014   $19.1918  313663435  $19.4554  $19.5318   $19.0839
2517  02/18/2014   $19.4997  260192220    $19.50  $19.6854   $19.4861

[2518 rows x 6 columns]